@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.input-item.txt::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-item.txt:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.input-item.txt::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: $gray;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}