$large-mobile: 448px !default;
$tablet: 768px !default;
$desktop: 992px !default;
$widescreen: 1200px !default;
$fullhd: 1384px !default;

$amber: #f8c93e !default;
$black: #000000 !default;
$charcoal-gray: #4a4a4a !default;
$gray: #7d7d7d !default;
$dark-goldenrod: #c7960c !default;
$dark-blue: #0d1f3f !default;
$dark-blue-text: #081e3f !default;
$light-gray: #f2f2f2 !default;
$white: #ffffff !default;
$green: #008000 !default;