$large-mobile: 448px !default;
$tablet: 768px !default;
$desktop: 992px !default;
$widescreen: 1200px !default;
$fullhd: 1384px !default;

$amber: #f8c93e !default;
$black: #000000 !default;
$gray: #cad1d2 !default;
$light-gray: #f2f2f2 !default;
$white: #ffffff !default;
$blue: #3f5bef !default;
$blue-font: #2980b9 !default;
$blue-input: rgba(63, 91, 239, 0.1) !default;
$aqua: #f2fbfd !default;